extends ./layout.pug
block content
 h5 Admin demo account with full control
 ul.list-group.mb-2.mt-2
  li.list-group-item
   span Email: admin@gmail.com
  li.list-group-item
   span Password: 123
 h5 Guest demo account with limit control
 ul.list-group.mb-2.mt-2
  li.list-group-item
   span Email: guest@gmail.com
  li.list-group-item
   span Password: 123
